.container {
  display: grid;
  // grid-template: 1fr / 1fr;
  grid-template-columns: minmax(1rem, 6%) 1fr minmax(1rem, 6%);
  grid-template-rows: 6rem 1fr 6%;
  height: 100vh;
  max-height: 100vh;
}

.content-container {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;
}
