.container {
  display: grid;
  grid-template: autoflow / 1fr;
  grid-template: 1fr / 1fr;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  margin: 6rem 6% 6%;
  // margin-bottom: 6%;
  // margin-left: 6%;
  // margin-right: 6%;
  // margin-top: 6rem;
}

.content-container {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr;
}
