// COLORS
$black: rgb(35, 34, 35);
$white: rgb(242, 243, 244);
$purple: rgb(51, 0, 100);

// FONT
$font_family-primary: "Josefin Sans", monospace;
$font_family-retro: "Space Mono", monospace;
$font_family-signature: "Rock Salt", monospace;

// TYPOGRAPHY
$font_weight-light: 300;
$font_weight-regular: 400;
$font_weight-bold: 700;

// RESPONSIVENESS
$px-breakpoint-primary_height: 667px;
$px-breakpoint-primary_width: 760px;