@font-face {
  font-family: 'Josefin Sans';
  font-display: swap;
  src: 
    local('Josefin Sans'),
    url('../assets/fonts/regular/JosefinSans.woff2') format('woff2'),
    url('../assets/fonts/regular/JosefinSans.woff') format('woff');
  font-weight: 400;
  unicode-range: U+0021-007D;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  font-display: swap;
  src: 
    local('Josefin Sans'),
    url('../assets/fonts/light/JosefinSans.woff2') format('woff2'),
    url('../assets/fonts/light/JosefinSans.woff') format('woff');
  font-weight: 300;
  unicode-range: U+0021-007D;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  font-display: swap;
  src: 
    local('Josefin Sans'),
    url('../assets/fonts/bold/JosefinSans.woff2') format('woff2'),
    url('../assets/fonts/bold/JosefinSans.woff') format('woff');
  font-weight: 700;
  unicode-range: U+0021-007D;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  font-display: swap;
  src: 
    local('Space Mono'),
    url('../assets/fonts/regular/SpaceMono.woff2') format('woff2'),
    url('../assets/fonts/regular/SpaceMono.woff') format('woff');
  font-weight: 400;
  unicode-range: U+0021-007D;
  font-style: normal;
}

// @font-face {
//   font-family: "Josefin Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 400;
//   src: local("Josenfin Sans Regular"), local("JosenfinSans-Regular"), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3aZQNVED7rKGKxtqIqX5EUDXx4Vn8sig.woff2) format('woff2');
//   unicode-range: U+0021-007D;
// }

// @font-face {
//   font-family: "Josefin Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 300;
//   src: local("Josenfin Sans Light"), local("JosenfinSans-Light"), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5Ecpl5te10hoJky_A.woff2) format('woff2');
//   unicode-range: U+0021-007D;
// }

// @font-face {
//   font-family: "Josefin Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 700;
//   src: local("Josenfin Sans Bold"), local("JosenfinSans-Bold"), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5Ectllte10hoJky_A.woff2) format('woff2');
//   unicode-range: U+0021-007D;
// }

// @font-face {
//   font-family: "Josefin Sans";
//   font-display: swap;
//   font-style: normal;
//   font-weight: 600;
//   src: local("Josenfin Sans SemiBold"), local("JosenfinSans-SemiBold"), url(https://fonts.gstatic.com/s/josefinsans/v12/Qw3FZQNVED7rKGKxtqIqX5Ec0lhte10hoJky_A.woff2) format('woff2');
//   unicode-range: U+0021-007D;
// }