body {
  background-color: $white;
  color: $black;
  font-family: $font_family-primary, $font_family-monospace, $font_family-sans_serif;
  font-weight: $font_weight-light;
}

a,
a:active,
a:hover,
a:visited {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: $font_weight-regular;
}

ol,
ul {
  list-style: none;
}

sub,
sup {
  font-size: 0.75rem;
}